.invoice-page {
  background-color: #fff;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* 15px and 0.3 adjust box-shadow strength*/
  padding: 40px 50px 50px 70px;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
}

.company-logo {
  display: block;
  margin: auto; /* display: block and margin: auto required for centering the logo*/
  max-width: 300px;
}

.invoice-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

.invoice-series {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.date-field {
  text-align: right;
  font-size: 1.2em;
}

.date-field label {
  margin-right: 10px;
}

.invoice-date {
  width: 12%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: bold;
  padding: 2px;
  font-size: 1em;
}

.details-container {
  display: flex; /* puts seller and buyer into one row */
  justify-content: space-between; /* moves seller to the left, buyer to the right side - adds space between them */
  margin-top: 20px;
}

.seller,
.buyer {
  display: block;
  margin-bottom: 15px;
}
.seller-details,
.buyer-details {
  width: 55%; /* DO I NEED THIS? SETS THE SIZE OF THE COLUMNS???*/
}

.company-name {
  text-decoration: underline;
  font-size: 18px;
}

#buyer-select {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

#buyer-select option {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

.seller-details p,
.buyer-details p {
  line-height: 1.5;
  font-style: italic;
  margin: 0;
}

.email {
  display: inline-block;
  /* <span> - inline element, it doesn't have top/bottom margin, need to set the display property to inline-block */
  margin-bottom: 10px;
}
