<div class="invoice-page">
  <img src="assets/company-logo.png" alt="Company logo" class="company-logo" />

  <div class="invoice-header">PVM SĄSKAITA-FAKTŪRA</div>

  <div class="invoice-series">Serija <strong>STA</strong> Nr. <strong>01571</strong></div>

  <div class="date-field">
    <label for="invoice-date">Data:</label>
    <input type="text" id="invoice-date" class="invoice-date" appFlatpickr />
  </div>

  <div class="details-container">
    <div class="seller-details">
      <strong class="seller">PARDAVĖJAS:</strong>
      <p>
        <strong class="company-name">UAB "STATAS"</strong><br />
        Poilsio 2-oji g. 24, Jautakių k., Mažeikių raj.<br />
        Įmonės kodas: 300013698<br />
        PVM kodas: LT100004353015<br />
        <strong>
          Luminor Bank AB, banko kodas 40100<br />
          A/s LT87 4010 0407 0034 5024<br />
          Swedbank AB, banko kodas 73000<br />
          A/s LT14 7300 0100 8329 8069<br />
        </strong>
        Tel: 8-686-73375<br />
        <span class="email">El. p. info&#64;uabstatas.lt</span><br />
        ISO 14001<br />
        ISO 9001<br />
        OHSAS 18001
      </p>
    </div>

    <div class="buyer-details">
      <strong class="buyer">PIRKĖJAS:</strong>
      <div class="buyer-dropdown">
        <select id="buyer-select" (change)="onBuyerChange($event)">
          <option value="" disabled selected>Pasirinkite įmonę...</option>
          <option *ngFor="let buyer of buyers" [value]="buyer.name">{{ buyer.name }}</option>
        </select>
      </div>
      <p>
        <strong>Adresas: </strong>{{ selectedBuyer?.address }}<br />
        <strong>Įmonės kodas: </strong>{{ selectedBuyer?.companyCode }}<br />
        <strong>PVM kodas: </strong>{{ selectedBuyer?.VATCode }}<br />
        <strong>Tel: </strong>{{ selectedBuyer?.phoneNumber }}<br />
        <strong>El. p. </strong>{{ selectedBuyer?.email }}<br />
      </p>
    </div>
  </div>

  <div class="service-table-container">
    <table class="service-table">
      <thead>
        <tr>
          <th>Eilės Nr.</th>
          <th>Paslaugos pavadinimas</th>
          <th>Mato<br />vnt.</th>
          <th>Kiekis</th>
          <th>Kaina (Eur)</th>
          <th>Suma (Eur)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index" [ngClass]="{ 'highlighted-row': row.isHighlighted }">
          <td>{{ i + 1 }}</td>
          <td>
            <input
              list="service-list"
              type="text"
              class="table-input"
              [(ngModel)]="row.serviceName"
              [ngClass]="{ 'highlighted-row': row.isHighlighted }"
            />
            <datalist id="service-list">
              <option *ngFor="let service of services" [value]="service.name">{{ service.name }}</option>
            </datalist>
          </td>
          <td>
            <select class="table-input" [(ngModel)]="row.unit" [ngClass]="{ 'highlighted-row': row.isHighlighted }">
              <option *ngFor="let unit of units" [value]="unit" [innerHTML]="getUnitDisplay(unit)"></option>
            </select>
          </td>
          <td class="quantity-cell">
            <button class="quantity-btn minus" (click)="decreaseQuantity(row)">–</button>
            <input
              type="number"
              class="table-input"
              [(ngModel)]="row.quantity"
              (keydown)="preventNegativeKeyboardSymbol($event)"
              (input)="preventPasteNegativeQuantity($event, row)"
              (focus)="onFocusSelect($event)"
              [ngClass]="{ 'highlighted-row': row.isHighlighted }"
            />
            <button class="quantity-btn plus" (click)="increaseQuantity(row)">+</button>
          </td>
          <td>
            <input
              type="text"
              class="table-input"
              [(ngModel)]="row.price"
              (input)="validateDecimal($event, row)"
              (focus)="onFocusSelect($event)"
              (blur)="formatPrice($event, row)"
              [ngClass]="{ 'highlighted-row': row.isHighlighted }"
            />
          </td>
          <td>{{ row.sum | number: "1.2-2" }}</td>
          <td
            class="delete-icon"
            (mouseenter)="highlightRow(row, true)"
            (mouseleave)="highlightRow(row, false)"
            (click)="deleteRow(i)"
          >
            ✖
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="no-style"></td>
          <td colspan="2" class="footer-label">Viso be PVM</td>
          <td id="total-VAT-excluded" class="footer-amount">{{ totalWithoutVAT | number: "1.2-2" }}</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" class="no-style"></td>
          <td colspan="2" class="footer-label">PVM 21%</td>
          <td id="VAT-amount" class="footer-amount">{{ VATAmount | number: "1.2-2" }}</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" class="no-style"></td>
          <td colspan="2" class="footer-label">Bendra suma</td>
          <td id="total-VAT-included" class="footer-amount">{{ totalWithVAT | number: "1.2-2" }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <button class="add-row-btn" (click)="addRow()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M5 0h24v24H0z"></path>
        <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
      </svg>
      <span>Nauja eilutė</span>
    </button>
  </div>
</div>
