.invoice-page {
  background-color: #fff;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* 15px and 0.3 adjust box-shadow strength*/
  padding: 40px 50px 50px 70px;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
}

.company-logo {
  display: block;
  margin: auto; /* display: block and margin: auto required for centering the logo*/
  max-width: 300px;
}

.invoice-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
}

.invoice-series {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.date-field {
  text-align: right;
  font-size: 1.1em;
}

.date-field label {
  margin-right: 10px;
}

.invoice-date {
  width: 12%;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-weight: bold;
  padding: 3px;
  font-size: 1em;
}

.details-container {
  display: flex; /* puts seller and buyer into one row */
  justify-content: space-between; /* moves seller to the left, buyer to the right side - adds space between them */
  margin-top: 20px;
}

.seller,
.buyer {
  display: block;
  margin-bottom: 15px;
}
.seller-details,
.buyer-details {
  width: 55%; /* DO I NEED THIS? SETS THE SIZE OF THE COLUMNS???*/
}

.company-name {
  text-decoration: underline;
  font-size: 18px;
}

#buyer-select {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

#buyer-select option {
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

.seller-details p,
.buyer-details p {
  line-height: 1.7;
  font-style: italic;
  margin: 0;
}

.email {
  display: inline-block;
  /* <span> - inline element, it doesn't have top/bottom margin, need to set the display property to inline-block */
  margin-bottom: 10px;
}

.service-table-container {
  position: relative; /* Helps the "Add new row" button stay inside this container because its position: absolute */
  margin-top: 20px;
}

.service-table {
  width: 100%;
  border-collapse: collapse; /* merges the double lines of the cell borders */
  text-align: center;
}

.service-table th:nth-child(1),
.service-table td:nth-child(1) {
  width: 5%;
}

.service-table th:nth-child(2),
.service-table td:nth-child(2) {
  width: 55%;
}

.service-table th:nth-child(3),
.service-table td:nth-child(3) {
  width: 10%;
}

.service-table th:nth-child(4),
.service-table td:nth-child(4) {
  width: 10%;
}

.service-table th:nth-child(5),
.service-table td:nth-child(5) {
  width: 10%;
}

.service-table th:nth-child(6),
.service-table td:nth-child(6) {
  width: 10%;
}

.service-table thead {
  background-color: #f0f0f0; /* darker gray for thead */
  line-height: 1.5;
}

.service-table tbody {
  background-color: #f9f9f9;
}

.service-table th,
.service-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.service-table td:hover {
  background-color: #e0e0e0; /* Cell hover effect */
}

.service-table td:hover .table-input {
  background-color: #e0e0e0;
}

.service-table tfoot .no-style {
  background-color: white;
  border: none;
}

.service-table tfoot .footer-label {
  text-align: right;
  font-weight: bold;
  background-color: #f0f0f0;
}

.service-table tfoot .footer-amount {
  font-weight: bold;
  background-color: #f0f0f0;
}

.table-input {
  border: none;
  outline: none;
  background-color: #f9f9f9;
  font-size: inherit;
  text-align: center;
  padding: 0;
  width: 100%;
}
/* Removes arrows (up/down buttons also known as spinners) next to <input type="number"> elements for
   Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Remove arrows in input type number for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.quantity-btn {
  font-size: 1.3em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.quantity-cell .table-input {
  width: 35%;
}

.service-table th:last-child,
.service-table td:last-child {
  background-color: white;
  border: none;
}

.delete-icon {
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

.highlighted-row {
  background-color: #ffe0e0; /* Light red color for highlighting the row which will be deleted */
}

.add-row-btn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
  padding: 5px;
}

.add-row-btn svg {
  width: 20px;
  height: 20px;
}

.add-row-btn span {
  padding-left: 2px;
  padding-right: 3px;
}

.add-row-btn:hover {
  background-color: #e0e0e0;
}
