<div class="sidebar">
  <div class="sidebar-header">
    <img src="assets/company-logo.png" alt="Company logo" class="sidebar-logo" />
  </div>
  <ul class="sidebar-menu">
    <li>
      <button class="sidebar-btn" [routerLink]="['/invoices']">Sąskaitos</button>
    </li>
    <li>
      <button class="sidebar-btn" [routerLink]="['/create-invoice']">Sukurti sąskaitą</button>
    </li>
    <li>
      <button class="sidebar-btn" [routerLink]="['/add-client']">Pridėti naują klientą</button>
    </li>
  </ul>
</div>
